page-filmes-detalhes {
    ion-card-header.autorComentario.card-header.card-header-md {
        font-size: 2088888;
    }
    
    ion-card-header.autorComentario.card-header.card-header-md {
        font-size: 1.8rem;
        font-family:  cursive;
    }
}
